input[type="number"], textarea {
    background-color: #333333;
    color: white;
}

body {
    vertical-align: top;
    background: #333333;
    color: white;
}

.input_container {
    width: 40%; 
    display: inline-block; 
    vertical-align: top;
}

.chart_container {
    width: 50%; 
    display: inline-block; 
    min-width: 310px; 
    height: 400px; 
    margin: 0 auto;
}

.dataText {
    width: 90%; 
    height: 100%; 
    min-height: 30em;
}
